.nav {
  grid-area: n;
  background-color: rgb(161, 95, 9);
  padding: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: coral;
  text-decoration: none;
}

.item a.activeLink {
  font-size: 25px;
  color: black;
}
